* {
    margin: 0;
    padding: 0;
/*    border: solid; color: white;*/
}

body {
    color: #FFFFFF;
    background-color: #0A0D48;
    font-family: sans-serif;
}

.container{
    width: 768px;
    height: 1024px;
    margin: 0 auto;
}
.marquee h4 {
}
.marquee {

   text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    border-bottom: 2px solid #FFB31D;
    border-top: 2px solid #FFB31D;
    margin-top: 40px;
    
}

.letter-button {
/*
    display: flex;
    justify-content: center;
    align-items: baseline;
*/
    margin: 200px auto 0px auto;
    width: 100%;
    height:500px;
    
/*
    padding: 400px; 
    padding-bottom: 600px;
*/
/*    position: relative;*/
}
.z{
    z-index: 10;
}
.z h1 {
    font-weight: normal;
    color: #FFB31D;
    font-family: brush-script-std, sans-serif;
    font-size: 800px;
    line-height: 0;
    align-content: center;
    
}

.cycle-slideshow-analysis {
    z-index: 2;
}
.empty-image{
    position: absolute;
    z-index: 50;
}
.analysis-image{
    position: absolute;
    top: 350px;
    left: 450px;
    z-index: 80;
}
.
#button {
    align-items: baseline;
    height:50px;
    width: 50px;
    border-radius: 100%;
    z-index: 1;
    
/*    position: absolute;*/
/*
    top: pixel value
    left:
    right:
*/
}

.font-name { 
    font-size: 30px;
    line-height: 100px;
}
.font-info{  
    line-height: 50px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #FFB31D;
}
a:active {
    text-decoration: none;
    color: aliceblue;
}
.photo-info{
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pic img{
    border: 2px solid white;
    border-radius: 50%;
    height: 150px;
}

.stack-info{
}
.info{  
}
.sources{
}