/*All Pages*/
*{
    margin: 0;
    padding: 0;
    font-family: bc-alphapipe, sans-serif;
}
body {
    background-image:url(images/stars_clusters.jpeg);
}

.container{
    width: 1024px;
    margin: 50px auto;
    background-color: #00000099;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 90px;
}
.flex-nav{
    display: flex;
    justify-content: space-between;
}
.title_bubble{
    margin-bottom: 50px; 
}
.flex_content{
    display: flex;
    justify-content: space-between;
}
/*Nav buttons*/
.menu-button a{
    height: 60px;
    width: 150px;
    color: #f0ff49;
    text-decoration: none;
    border-radius: 20px;
    border: solid 2px #f0ff49;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    line-height: 58px
}
/*Homepage ONLY*/
.telescope{
    padding-top: 100px;
    padding-left: 50px;
    margin-right: 40px;
}
.telescope img{
    position: relative;
    border-radius: 50px;
    z-index: 100;
}
.telescope h2{
    position: relative;
    z-index: 200;
    top: -200px;
    left: 200px;
    font-weight: normal;
}

/*Sidebar*/
.learn-choices {
    width: 180px;
    height: 550px;
    text-align: center;
    align-items: center;
}
.learn-square a{
    height: 150px;
    width: 150px;
    color: #eaeaea;
    text-decoration: none;
    border-radius: 20%;
    border: solid 2px #eaeaea;
    display: block;
    margin: 15px;
}
.constellations-button a {
    background-image:url(images/constellations-button.jpg); 
    background-size:cover;
    background-position: center center;
}
.planets-button a{
    background-image:url(images/planets-button.jpg); height="150px";
    background-size: cover;
    background-position: center center;
}
.moon-button a{
    background-image:url(images/moon.jpg); height="150px";
    background-size: cover;
    background-position: center center;
}
/*Choice Pages*/
.content1{
    margin-right: 40px; 
    padding-left: 200px;
}
.big-button-rec a  {
    height: 550px;
    width: 300px;
    color: #eaeaea;
    text-decoration: none;
    text-align: center;
    background-color: #eaeaea;
    border-radius: 40px;
    border: solid 2px #eaeaea;
    display: block;
    margin: 15px;
}
.orion-button a{
    background-image:url(images/orion-button.jpg); height="550px";
    background-size: cover;
    background-position: center center;
}
.gemini-button a{
    background-image:url(images/gemini-button.jpg); height="550px";
    background-size: cover;
    background-position: center center;
}

/*Content Pages*/
.name-info{
    color: #f0ff49;
    margin-bottom: 75px;
}
.name-info h2{
    font-size: 70px;
    font-weight: normal;
    line-height: 80px;
}
.name-info h3{
    font-size: 25px;
    font-weight: normal;
}
.learn-text{
    width: 250px;
    height: 550px;
    font-size: 15px;
    color: #eaeaea;
}
.learn-text h4{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}
.image-modals button{
    width: 25px;
    height: 25px;
    border-radius: 100%;

}
.Betelguise{
    position: relative;
    z-index: 300;
    top: -604px;
    left: -383px;
}
.Rigel{
    position: relative;
    z-index: 300;
    top: -133px;
    left: -290px;
}
.Nebula{
    position: relative;
    z-index: 300;
    top: -356px;
    left: -397px;
    width: 25px;
}
.image-modals img{
    border-radius: 50px;
    position: relative;
    z-index: 100;
}
