/*All Pages*/
*{
    margin: 0;
    padding: 0;
    font-family: bc-alphapipe, sans-serif;
}
body {
    background-image:url(images/stars_clusters.jpeg);
}

.container{
    width: 1024px;
    margin: 50px auto;
    background-color: #00000099;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 90px;
}
.flex-nav{
    display: flex;
    justify-content: space-between;
}
.title_bubble{
    margin-bottom: 50px; 
}
.flex_content{
    display: flex;
    justify-content: space-between;
}
/*Nav buttons*/
.menu-button a{
    height: 60px;
    width: 150px;
    color: #f0ff49;
    text-decoration: none;
    border-radius: 20px;
    border: solid 2px #f0ff49;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    line-height: 58px
}
/*Homepage ONLY*/
.telescope{
    padding-top: 100px;
    padding-left: 50px;
    margin-right: 40px;
}
#colorful{
    position: relative;
    border-radius: 50px;
    z-index: 100;
}
.telescope h2{
    position: relative;
    z-index: 200;
    top: -220px;
    left: 200px;
    font-weight: normal;
}
#arrow{
    position: relative;
    z-index: 199;
    top: -230px;
    left: 150px;
    animation: arrow-pulse 3.5s infinite;
}

@keyframes arrow-pulse{
  0% {
    opacity: 100;
  }
  50% {
      opacity: 0;
  }
    100%{
        opacity: 100;
    }
}

/*Sidebar*/
.learn-choices {
    width: 180px;
    height: 550px;
    text-align: center;
    align-items: center;
}
.learn-square a{
    height: 150px;
    width: 150px;
    color: #eaeaea;
    text-decoration: none;
    border-radius: 20%;
    border: solid 2px #eaeaea;
    display: block;
    margin: 15px;
}
.constellations-button a {
    background-image:url(images/constellations-button.jpg); 
    background-size:cover;
    background-position: center center;
}
.planets-button a{
    background-image:url(images/planets-button.jpg); height="150px";
    background-size: cover;
    background-position: center center;
}
.moon-button a{
    background-image:url(images/moon.jpg); height="150px";
    background-size: cover;
    background-position: center center;
}
/*Choice Pages*/
.content1{
    margin-right: 40px; 
    padding-left: 200px;
}
.big-button-rec a  {
    height: 550px;
    width: 300px;
    color: #eaeaea;
    text-decoration: none;
    text-align: center;
    background-color: #eaeaea;
    border-radius: 40px;
    border: solid 2px #eaeaea;
    display: block;
    margin: 15px;
}
.orion-button a{
    background-image:url(images/orion-button.jpg); height="550px";
    background-size: cover;
    background-position: center center;
}
.gemini-button a{
    background-image:url(images/gemini-button.jpg); height="550px";
    background-size: cover;
    background-position: center center;
}
.jupiter-button a{
    background-image:url(images/jupiter.jpg); height="550px";
    background-size: cover;
    background-position: center center;
}
.saturn-button a{
    background-image:url(images/saturn.jpg); 
 height="550px";
    background-size:cover;
    background-position: center center;
}
/*Content Pages*/
.name-info{
    color: #f0ff49;
    margin-bottom: 75px;
}
.name-info h2{
    font-size: 70px;
    font-weight: normal;
    line-height: 80px;
}
.name-info h3{
    font-size: 25px;
    font-weight: normal;
}
.learn-text{
    width: 250px;
    height: 550px;
    font-size: 15px;
    color: #eaeaea;
}
.learn-text h4{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}
.image-modals{
    border-radius: 50px;
    padding-right: 50px;
    position: relative;
    z-index: 100;}
    
/*MODALS GENERAL  */
@keyframes shadow-pulse{
  0% {
    box-shadow: 0 0 0 0px #ffffff;
  }
  100% {
    box-shadow: 0 0 0 25px #ffffff00;
  }
}

@keyframes shadow-pulse-dark{
  0% {
    box-shadow: 0 0 0 0px #000000;
  }
  100% {
    box-shadow: 0 0 0 25px #00000000;
  }
}

.image-modals button{
}
.modal{
    width: 40%;
    padding: 20px;
    position: absolute;
    z-index: 500;
    top: 40%;
    left: 30%;
    background-color: black;
    color: #eaeaea;
    border: 1px solid #f0ff49;
    border-radius: 34px;
}
.modal h1{
    margin-bottom: 20px;
}
.modal p{
    margin-bottom: 20px;
}
#grey-background{
    background-color: #00000099;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    visibility: hidden;
    
}

.visible{
    visibility: visible !important;
    
}

/*ORION MODALS*/
.Betelgeuse{
    position: absolute;
    background-color: #00000000;
    z-index: 300;
    top: 115px;
    left: 195px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    animation: shadow-pulse 2s infinite;
}
.Rigel{
    position: absolute;
    background-color: #00000000;
    z-index: 300;
    top: 585px;
    left: 315px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    animation: shadow-pulse 2s infinite;
}
.Nebula{
    position: absolute;
    background-color: #00000000;
    z-index: 300;
    top: 368px;
    left: 200px;
    width: 100px;
    height: 20px;
    transform: rotate(-18deg);
    border-radius: 10px;
    animation: shadow-pulse 2s infinite;
}
#nebula-modal{
    visibility: hidden;
}
#Rigel-modal{
    visibility: hidden;
}
#Betelgeuse-modal{
    visibility: hidden;
}

/*GEMINI MODALS*/
.Castor{
    position: absolute;
    background-color: #00000000;
    z-index: 300;
    top: 44px;
    left: 236px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    animation: shadow-pulse 2s infinite;
}
#Castor-modal{
    visibility: hidden;
}
.Pollux{
    position: absolute;
    background-color: #00000000;
    z-index: 300;
    top: 65px;
    left: 112px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    animation: shadow-pulse 2s infinite;
}
#Pollux-modal{
    visibility: hidden;
}

/*JUPITER MODALS*/
.red-spot{
    position: absolute;
    background-color: #00000000;
    border: 0.8px solid black;
    z-index: 300;
    top: 300px;
    left: 331px;
    width: 105px;
    height: 55px;
    transform: rotate(-13deg);
    border-radius: 100%;
    animation: shadow-pulse-dark 2s infinite;
}
#red-spot-modal{
    visibility: hidden;
}
/*SATURN MODALS*/
.rings{
    position: absolute;
    background-color: #00000000;
    z-index: 300;
    top: 340px;
    left: 0px;
    width: 195px;
    height: 125px;
    transform: rotate(-34deg);
    border-radius: 100%;
    animation: shadow-pulse 2s infinite;
}
#rings-modal{
    visibility: hidden;
}
/*MOON MODALS*/

.mare{
    position: absolute;
    background-color: #00000000;
    border: 0.8px solid black;
    z-index: 300;
    top: 245px;
    left: 351px;
    width: 105px;
    height: 85px;
    transform: rotate(-13deg);
    border-radius: 100%;
    animation: shadow-pulse-dark 2s infinite;
}
#mare-modal{
    visibility: hidden;
}

.Tycho{
    position: absolute;
    background-color: #00000000;
    border: 0.8px solid black;
    z-index: 300;
    top: 467px;
    left: 246px;
    width: 25px;
    height: 25px;
    transform: rotate(-13deg);
    border-radius: 100%;
    animation: shadow-pulse-dark 2s infinite;
}
#Tycho-modal{
    visibility: hidden;
}